* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: sans-serif;
}

.head {
  background-color: rgb(14, 184, 226);
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

h1 {
  text-transform: uppercase;
}

.timeline {
  background-color: rgb(1, 143, 238);
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.line {
  width: 10px;
  color: white;
  justify-self: center;
  height: 100%;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  background-color: rgb(14, 184, 226);
  border-radius: 10px;
}

.input {
  background-color: rgb(14, 184, 226);
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  justify-content: center;
  padding: 10%;
  margin: 10%;
  border-radius: 10px;
}
.item1 {
  grid-column: 3;
  grid-row: 1;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
}

.item3 {
  grid-column: 3;
  grid-row: 3;
}

.item4 {
  grid-column: 1;
  grid-row: 4;
}

@media screen and (max-width: 800px) {
  .timeline {
    grid-template-columns: 10% 1fr;
  }
  .line {
    grid-column-start: 1;
  }

  .input {
    grid-column: 2;
  }
}
